:root {
    --main-blue: #5F9EA0;
} 

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior:  smooth;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--main-blue);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
}

button:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    color: white;
}

li {
    list-style: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.main-title {
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
}

.nav-items {
    display: flex;
}

.nav-item a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.nav-item a:hover {
    background: rgba(0,0,0,0.1);
}

main {
    display: flex;
    margin-top: 1.2rem;
}

.main-container {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.sub-title {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

.confirm-btn {
    width: 500px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    background-color: #04AA6D;
    color: white;
    font-size: 1.1rem;
    border: none;
}

.confirm-btn:hover {
    background-color: #04AA6D;
}

.cancel-btn {
    background-color: #d21f3c;
    color: white;
    border: none;
    border-radius: 2px;
    width: 20px;
    margin-left: 10px;
}

.cancel-btn:hover {
    background-color: #d21f3c;
}

.workouts-div {
    background-color: var(--main-blue);
    padding: 25px;
    border-radius: 10px;
}

.workouts {
    list-style: none;
    padding-top: 10px;
}

.workout-btn {
    width: 500px;
    height: 25px;
}

.exercise-table {
    border-collapse: collapse;
    width: 500px;
}

.exercise-table th, .exercise-table td {
    border: 1px solid lightgray;
    padding: 8px;
}

.exercise-table th {
    background-color: var(--main-blue);
    color: white;
}

.exercise-input-div {
    padding: 4px;
    justify-content: space-between;
}

.exercise-input-div input {
    padding-left: 2px;
}

.exercise-input-div label {
    padding-left: 20px;
    padding-right: 10px
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
